<launch>

  <node pkg="ros_ign_bridge" exec="parameter_bridge" name="ign_bridge_cmd"
    args="/model/tugbot/cmd_vel@geometry_msgs/msg/Twist@ignition.msgs.Twist" />

  <node pkg="ros_ign_bridge" exec="parameter_bridge" name="ign_bridge_odom"
    args="/model/tugbot/odometry@nav_msgs/msg/Odometry@ignition.msgs.Odometry" />

  <node pkg="ros_ign_bridge" exec="parameter_bridge" name="ign_bridge_tf" args="/model/tugbot/tf@tf2_msgs/msg/TFMessage@ignition.msgs.Pose_V">
    <remap from="/model/tugbot/tf" to="/tf"/>
  </node>

  <node pkg="ros_ign_bridge" exec="parameter_bridge" name="ign_bridge_scan"
    args="/world/world_demo/model/tugbot/link/scan_omni/sensor/scan_omni/scan/points@sensor_msgs/msg/PointCloud2@ignition.msgs.PointCloudPacked" />

  <node pkg="robot_state_publisher" exec="robot_state_publisher">
    <param name='robot_description' value="$(command 'cat model.sdf')"/>
  </node>

</launch>

